:root {
    --pdoc-background: #282a36;
}
.pdoc {
    --text: #f8f8f2;
    --muted: #6272a4;
    --link: #bd93f9;
    --link-hover: #ff79c6;
    --active: #44475a;
    --code: #44475a;
    --accent: #21222c;
    --accent2: #44475a;
}
